<div data-turbolinks="false">
  <%= link_to 'Principal', root_path, class: 'btn btn-primary' %>
  <%= link_to 'Sobre', about_path, class: 'btn btn-primary' %>
  <%= link_to 'Contato', contact_path, class: 'btn btn-primary' %>
</div>