<h1>Sobre</h1>
<p>
  Vestibulum porta lectus eget lacus efficitur elementum. Etiam lorem arcu, posuere non egestas sit amet,
  dignissim nec velit. Proin urna risus, consequat id dapibus nec, posuere nec ante.
  Praesent lobortis facilisis imperdiet. Quisque vitae ex vel diam accumsan scelerisque. Suspendisse potenti.
  Praesent id nisi quis lacus sagittis malesuada ac vitae mauris. Praesent eu sem laoreet, gravida leo at,
  fermentum odio. Aenean laoreet euismod purus non laoreet.
</p>
<%= render 'buttons' %>