<h1>Principal</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque feugiat magna massa. Proin sed dapibus purus.
  Aliquam nibh ante, fringilla in dignissim in, porta et purus. Vivamus sagittis porta urna,
  vitae suscipit diam cursus vel. Donec eget mauris hendrerit, tempus mi tristique, imperdiet enim.
  In consectetur lacus nec elementum tristique. Maecenas tempor quam tempus velit bibendum, in varius sem rutrum.
  Integer convallis mi non nisi vestibulum finibus. Nunc sed tellus tempor, finibus quam efficitur, bibendum metus.
  Curabitur ullamcorper massa sit amet orci mollis, sit amet finibus orci consectetur.
</p>
<%= render 'buttons' %>